html,
body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
}

#root {
	height: 100%;
	width: 100%;
}

.slider {
	padding: 16px;
	height: 100%;
}

.logo {
	height: 32px;
	/* background: rgba(255, 255, 255, 0.2); */
	text-align: center;
	margin: 14px 0;
}

.container {
	height: 100%;
	width: 100%;
}
